<!-- Start - Objectives form -->
<div class="form-group">
  <label for="ds_objectives">Objectives:</label>
  <textarea ng-readonly="vm.roleResearcher != 0" id="ds_objectives" name="ds_objectives" ng-model="vm.protocol.objective.dsObjective" class="form-control" rows="5"></textarea>
</div>
<!-- End - Objectives form -->

<!-- Start - Action buttons -->
<div class="modal-footer">
    <button id="btn-save-objectives" type="button" class="btn btn-primary" ng-click="vm.saveObjectives()" ng-show="vm.roleResearcher == 0">
        <i class="fa fa-check"></i>Save
    </button>
</div>
<!-- End - Action buttons -->