<!-- Start - Keywords list -->
<div class="box-body">
  <center>
    <div class="form-group">
      <button ng-show="vm.roleResearcher == 0" type="button" class="btn btn-primary" ng-click="vm.showAddKeywordForm()">
     <i class="fa fa-plus"></i> Add Keyword
      </button>
    </div>
  </center>

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th class="width-60-pct">Keywords</th>
        <th class="width-60-pct" ng-show="vm.roleResearcher == 0">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-hide="vm.protocol.searchKeywords.length > 0">
        <td align="center" colspan="5">No keywords registered.</td>
      </tr>
      <tr ng-repeat="keyword in  vm.protocol.searchKeywords">
        <td class="width-30-pct">{{ keyword.dsSearchKeyword | uppercase }}</td>
        <td class="center" ng-show="vm.roleResearcher == 0">
          <button type="button" class="btn btn-warning" ng-click="vm.showEditKeywordForm(keyword)">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
          <button type="button" class="btn btn-danger" ng-click="vm.deleteKeyword(keyword)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <th class="width-60-pct">Keywords</th>
        <th class="width-60-pct" ng-show="vm.roleResearcher == 0">Actions</th>
      </tr>
    </tfoot>
  </table>
</div>
<!-- End - Keywords list -->