<div class="content">

    <div class="row">
        <div class="col-xs-12">
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
                ng-bind="flash.message"></div>

        <div class="box">
            <div class="panel-group">

                <div class="box-header">
                    <h3 class="box-title">Assign studies to researcher</h3>
                </div>

                <center>
                    <!-- Button to display the modal form registration. -->
                    <div class="form-group">
                        <center>
                            <button type="button" class="btn btn-primary" ng-click="vm.showCreateForm()">
                        <i class="fa fa-plus"></i> Assign Studies Automatically
                        </button>
                            <button class="btn btn-primary" ng-click="vm.change()" type="button">
                                <i class="fa fa-plus"></i> Assign Studies Manually
                                </button>
                        </center>







                        <label ng-if="vm.assign_manually" for="sel2">Mutiple select list (hold shift to select more than one):</label>
                        <select ng-if="vm.assign_manually" multiple class="form-control" id="sel2" ng-model="vm.teste">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    </select> TESTE: {{vm.teste}}
                        <!-- Start - Action buttons -->
                        <div class="modal-footer">
                            <button id="btn-save-configuration" type="button" class="btn btn-primary" ng-click="vm.saveteste()">
        				<i class="fa fa-check"></i>Save
    					</button>
                        </div>
                        <!-- End - Action buttons -->


                    </div>




            </div>
        </div>
    </div>
</div>
</div>