<!-- Researchers - CRUD -->
<div class="content">

	<div class="row">
		<div class="col-xs-12">
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
				ng-bind="flash.message"></div>

		<div class="box">
			<div class="panel-group">

				<div class="box-header">
					<h3 class="box-title">Configuration Selection Step</h3>
				</div>

				<div class="panel-body">

					<div class="form-group">
						<label for="start_date">Review Start Date</label>
						<input type="date" name="start_date" ng-model="vm.selection.dhStartSelectionStep" />
					</div>

					<div class="form-group">
						<label for="end_date">Review End Date</label>
						<input type="date" name="end_date" ng-model="vm.selection.dhEndSelectionStep" />
					</div>

					<div class="form-group">
						<label for="conflict_end_date">Conflict Solving End Date</label>
						<input type="date" name="conflict_end_date" ng-model="vm.selection.dhConflictsSolvingEnd" />
					</div>

					<div class="form-group">
						<label for="step_end_date">Selection Step End Date</label>
						<input type="date" name="step_end_date" ng-model="vm.selection.dhReviewEnd" />
					</div>

					<hr width=90%>

					<div class="form-group">
						<label for="amount_reviews">Amount reviews per study</label>
						<input type="number" name="amount_reviews" ng-model="vm.selection.qtReview" />
					</div>

					<hr width=90%>

					<div class="form-group">
						<label for="tp_review">Rated Content</label>
						<select id="tp_review" name="tp_review" class="form-control" ng-model="vm.selection.idRatedContent" required>
								<option value="">All types</option>
								<option value="0">Title</option>
								<option value="1">Title + Abstract</option>
								<option value="2">Title + Abstract + Introduction</option>
								<option value="3">Title + Abstract + Introduction + Conclusion</option>
								<option value="4">Full Text</option>
							</select>
						<!-- span ng-show="form.tp_review.$dirty && form.tp_review.$error.required" class="help-block">Type is required.</span-->
					</div>


					<!-- Start - Action buttons -->
					<div class="modal-footer">
						<button id="btn-save-configuration" type="button" class="btn btn-primary" ng-click="vm.saveConfiguration()">
        				<i class="fa fa-check"></i>Save
    					</button>
					</div>
					<!-- End - Action buttons -->


				</div>

			</div>
		</div>
	</div>
</div>
</div>