<div class="content">
	<div class="row">
		<div class="col-xs-12">
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash"
			 ng-bind="flash.message"></div>
			<div class="box">
				<div class="panel-group">
					<div class="box-header">
						<h3 class="box-title">Configuration Selection Step</h3>
					</div>
					<div class="panel-body">
						<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
						/>
						<form name="form" ng-submit="send()">
							<div class="form-group">
								<label for="start_date">Review Start Date *</label>
								<input ng-readonly="vm.roleResearcher != 0" type="date" name="start_date" ng-model="vm.selection.dhStartSelectionStep" required/>
								<span ng-show="form.start_date.$dirty && form.start_date.$error.required" class="help-block">Review Start Date is required.</span>
							</div>

							<div class="form-group">
								<label for="end_date">Review End Date *</label>
								<input ng-readonly="vm.roleResearcher != 0" type="date" name="end_date" ng-model="vm.selection.dhEndSelectionStep" required/>
								<span ng-show="form.end_date.$dirty && form.end_date.$error.required" class="help-block">Review End Date is required.</span>
								<span ng-show="form.end_date.$dirty && vm.selection.dhStartSelectionStep.getTime() >= vm.selection.dhEndSelectionStep.getTime()"
								 class="help-block">Review End Date is Lower than Review Start Date.</span>
							</div>

							<div class="form-group">
								<label for="conflict_end_date">Conflict Solving End Date *</label>
								<input ng-readonly="vm.roleResearcher != 0" type="date" name="conflict_end_date" ng-model="vm.selection.dhConflictsSolvingEnd"
								 required />
								<span ng-show="form.conflict_end_date.$dirty && form.conflict_end_date.$error.required" class="help-block">Conflict Solving End Date is required.</span>
								<span ng-show="form.conflict_end_date.$dirty && vm.selection.dhEndSelectionStep.getTime() >= vm.selection.dhConflictsSolvingEnd.getTime()"
								 class="help-block">Conflict Solving End Date is Lower than Review End Date.</span>
							</div>

							<div class="form-group">
								<label for="step_end_date">Selection Step End Date *</label>
								<input ng-readonly="vm.roleResearcher != 0" type="date" name="step_end_date" ng-model="vm.selection.dhReviewEnd" required
								/>
								<span ng-show="form.step_end_date.$dirty && form.step_end_date.$error.required" class="help-block">Selection Step End Date is required.</span>
								<span ng-show="form.step_end_date.$dirty && vm.selection.dhConflictsSolvingEnd.getTime() >= vm.selection.dhReviewEnd.getTime()"
								 class="help-block">Selection Step End Date is Lower than Conflict Solving End Date.</span>
							</div>

							<hr width=90%>

							<div class="form-group">
								<label for="amount_reviews">Amount reviews per study *</label>
								<input ng-readonly="vm.roleResearcher != 0" type="number" name="amount_reviews" ng-model="vm.selection.qtReview" required
								/>
								<span ng-show="form.amount_reviews.$dirty && form.amount_reviews.$error.required" class="help-block">Amount reviews per study is required.</span>
							</div>

							<hr width=90%>

							<div class="form-group">
								<label for="rated">Rated Content *</label>
								<select ng-readonly="vm.roleResearcher != 0" id="rated" name="rated" ng-model="vm.selection.idRatedContent" class="form-control"
								 ng-options="rated.idRatedContent as rated.dsRatedContent for rated in vm.all_rated" required>'
								<option value="">Select rated content</option>
								</select>
								<span ng-show="form.rated.$dirty && form.rated.$error.required" class="help-block">Rated Content is required.</span>
							</div>
						</form>

						<!-- Start - Action buttons -->
						<div class="modal-footer">
							<button ng-show="vm.roleResearcher == 0" id="btn-save-configuration" type="button" class="btn btn-primary" ng-click="vm.saveConfiguration(); form.$setPristine();"
							 ng-disabled="form.$invalid">
        				<i class="fa fa-check"></i>Save
    					</button>
						</div>
						<!-- End - Action buttons -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>