<!-- Researcher edit form. -->
<div class="modal fade" id="edit-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Form title. -->
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button-->
        <h4 class="edit-modal-form-title" id="edit-modal-form-title">Edit Email Researcher</h4>
      </div>
      <!-- Start - Fields form -->
      <h4> You need confirm email again after update to continue using FARMS.</h4>
      <div class="modal-body">
        <form name="form" ng-submit="send()">

          <div class="form-group">
            <label for="ds_email">New Email * </label>
            <input maxlength="70" type="email" name="ds_email" id="ds_email" class="form-control" ng-model="vm.researcher.dsEmail" required
            />
            <span ng-show="form.ds_email.$dirty && form.ds_email.$error.required" class="help-block">Email is required.</span>
            <span class="help-block" ng-show="form.ds_email.$error.email"> Invalid email format.</span>
          </div>

          <div class="form-group">
            <label for="ds_email">Confirm New Email * </label>
            <input maxlength="70" type="email" name="ds_c_email" id="ds_c_email" class="form-control" ng-model="vm.dsConfirmEmail" required
            />
            <span ng-show="form.ds_c_email.$dirty && form.ds_c_email.$error.required" class="help-block">Confirm Email is required.</span>
            <span class="help-block" ng-show="form.ds_c_email.$error.email"> Invalid email format.</span>
            <span ng-show="(form.ds_c_email.$dirty && form.ds_c_email.$error.required) || ((form.ds_c_email.$dirty && form.ds_c_email.$dirty) && (vm.dsConfirmEmail != vm.researcher.dsEmail))"
              class="help-block">
              Email and email confirmation mismatched.
            </span>
          </div>
      </div>
      <!-- End - Fields form -->
      </form>
      <!-- Start - Action buttons. -->
      <div class="modal-footer">
        <button id="btn-update" type="submit" class="btn btn-primary" ng-click="vm.editEmail()" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Save</button>
        <button type="button" class="btn btn-default" ng-click="vm.getBydsSso()" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
      </div>
      <!-- End - Action buttons. -->

      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
      />
    </div>
  </div>
</div>