<!-- Researcher change password form. -->
<div class="modal fade" id="change-modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Form title. -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="change-modal-title" id="form-title">Edit Researcher</h4>
      </div>


      <!-- Start - Fields form -->
      <div class="modal-body">
        <form name="form" ng-submit="send()">

          <div class="form-group">
            <label for="researcher_ds_password">New password</label>
            <input type="password" name="researcher_ds_password" id="researcher_ds_password" class="form-control" ng-model="vm.researcher.dsPassword"
              required />
            <span ng-show="form.researcher_ds_password.$dirty && form.researcher_researcher_ds_password.$error.required" class="help-block">Password is required.</span>
          </div>

          <div class="form-group">
            <label for="researcher_ds_confirm_password">Confirm new password</label>
            <input type="password" name="researcher_ds_confirm_password" id="researcher_ds_confirm_password" class="form-control" ng-model="vm.researcher.dsConfirmPassword"
              required />
            <span ng-show="(form.researcher_ds_confirm_password.$dirty && form.researcher_ds_confirm_password.$error.required) || ((form.researcher_ds_confirm_password.$dirty && form.researcher_ds_confirm_password.$dirty) && (vm.researcher.dsPassword != vm.researcher.dsConfirmPassword))"
              class="help-block">
              Password and password confirmation mismatched.
            </span>
          </div>
        </form>
      </div>
      <!-- End - Fields form -->

      <!-- Start - Action buttons. -->
      <div class="modal-footer">
        <button id="btn-update" type="submit" class="btn btn-primary" ng-click="vm.editPassword(); form.$setPristine();" ng-disabled="form.$invalid"><i class="fa fa-check"></i>Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i>Cancel</button>
      </div>
      <!-- End - Action buttons. -->


    </div>
  </div>
</div>