<!-- Researchers - CRUD -->
<div class="content">

<div class="row">
<div class="col-xs-12">


  <div  class="box">
    <div class="panel-group"> <!-- Start filter the list of projects. -->

      <div class="box-header">
        <h3 class="box-title">Researcher</h3>
      </div>

<div>
Nome user:  {{vm.user.dsUserName}}  
</br> 
nome researcher:{{vm.researchers}} 
</br> 
Email:
</br> 
Opcao troca de senha
</div>


<table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="width-30-pct">Name</th>
            <th class="width-30-pct">Email</th>
            <th class="width-30-pct">Instituion</th>
            <th class="text-align-center">Actions</th>
          </tr>
        </thead>
        
        <tbody>
              <tr >
            <td class="width-30-pct">virá Nome</td>
            <td class="width-30-pct">virá Email</td>
            <td class="width-30-pct">virá instituição</td>
            <td class="center">
              <button type="button" class="btn btn-warning" ng-click="vm.showCreateForm()">
                <span class="glyphicon glyphicon-pencil"></span>
              </button>
              <button type="button" class="btn btn-danger" ng-click="vm.deleteStudy(study.dsKey)">
                <span class="glyphicon glyphicon-trash"></span>
              </button>
            </td>
          </tr>
        </tbody>
              </table>
              
              


   <!-- Modal form registration. -->
    <div ng-include="'adm/views/researcher/researcher-create-form.html'"></div>
	    <!-- Modal confirmation message. -->
    <div ng-include="'adm/views/message/confirmation-message-modal.html'"></div>
     
  <!-- end row -->
</div>
<!-- end container -->
